<head>
    <style>
        .title {
            float:left; 
            padding-left: 10px;
        }
        .button {
            float:left; 
        }
        .left {

            padding-right: 60px;
        }
        .right {

        }
        .bid_table {
            border-collapse: separate;
            border-spacing: 50px;
        }
        .indent{
            padding-left: 16px;
        }
        #problem_type_name {
            width:370px;
            height:40px;
        }
        #problem_type_given_list {
            width:370px;
            height:74px;
        }
        #problem_type_prompt {
            width:370px;
            height:74px;
        }
        #problem_type_sol_alg {
            width:370px;
            height:74px;
        }
        #name{
            font-size: 25px;
        }

    </style>
</head>
{{extend 'layout.html'}}
<td><div class="left">
    <h4 class = "button">{{=A('Back',_href=URL('default','teacher_interface'),_class='btn')}}</h4>
    <h1 class = "title" >Create a Problem</h1>

</div></td>
<table border=2.5 class="big_table">
    <tr>
        <td style="padding-left 30px; padding-right 30px;">
            <table>
                <tr>
                    <td>
                        
                            <b>
                            <span id = "name">Instructions</span>
                            </b>
                            <br><br>
                            To create a problem, fill out the form below:
                            <ul style="list-style: none;">
                                <li>1.&nbsp;  Type the problem name (be as specific and concise as possible)
                                    <ul style="list-style: none;">
                                        <li class = "indent"><b>ex:</b> Density (given mass and volume)</li>
                                    </ul>
                                </li>
                                <li>2.&nbsp;  Type a comma-separated list of variables that the worksheet will randomly generate and change for each problem
                                    <ul style="list-style: none;">
                                        <li class = "indent"><b>ex: </b>mass, volume</li>
                                    </ul>
                                </li>
                                <li>3.&nbsp;  Type the prompt that will display each time the problem is shown; surround each variable name with curly braces {} to indicate a variable
                                    <ul style="list-style: none;">
                                        <li class= "indent"><b>ex:</b> What is the density of an object with a mass of {mass} g and a volume of {volume} L?</li>
                                    </ul>
                                </li>
                                <li>4.&nbsp; Type the solution algorithm using the variable names in curly braces, any of the supported operations, and any integers/decimals needed
                                    <ul style="list-style: none;">
                                        <li class = "indent"><b>ex:</b> {mass} / {volume}</li>
                                    </ul>
                                </li>
                                <li>5.&nbsp; Once the problem is created, you can go back to the home page to assign it to classes and edit variable ranges.
                                </li>
                                <br>
                                <li>* Decimals between 0 and 1 must have a 0 before the decimal point! ex. 0.5</li>
                                <li>* Make sure the number of variables matches the number in the prompt and solution algorithm!</li>
                            </ul>
                            
                        
                    </td>
                </tr>
                <tr>
                    <td><div>
                        {{=form}}
                    </div></td>
                </tr>
            </table>
        </td>
        <td>
            <div>
                <h3>
                    Allowed Operations & Constants
                </h3>
                <table class = table_padding border=1.5 width = 680 style = "padding: 10px;">
                    <tr>
                        <td><b>Operation/Constant</b></td>
                        <td><b>Description</b></td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>e</td>
                    </tr>
                    <tr>
                        <td>PI</td>
                        <td>π</td>
                    </tr>
                    <tr>
                        <td>+</td>
                        <td>Addition</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>Subtraction</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>Multiplication</td>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>Division</td>
                    </tr>
                    <tr>
                        <td>%</td>
                        <td>Modulus</td>
                    </tr>
                    <tr>
                        <td>^</td>
                        <td>Power</td>
                    </tr>
                    <tr>
                        <td>sin(x)</td>
                        <td>Sine of x (x is in radians)</td>
                    </tr>
                    <tr>
                        <td>cos(x)</td>
                        <td>Cosine of x (x is in radians)</td>
                    </tr>
                    <tr>
                        <td>tan(x)</td>
                        <td>Tangent of x (x is… well, you know)</td>
                    </tr>
                    <tr>
                        <td>asin(x)</td>
                        <td>Arc sine of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>acos(x)</td>
                        <td>Arc cosine of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>atan(x)</td>
                        <td>Arc tangent of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>sinh(x)</td>
                        <td>Hyperbolic sine of x (x is in radians)</td>
                    </tr>
                    <tr>
                        <td>cosh(x)</td>
                        <td>Hyperbolic cosine of x (x is in radians)</td>
                    </tr>
                    <tr>
                        <td>tanh(x)</td>
                        <td>Hyperbolic tangent of x (x is… well, you know)</td>
                    </tr>
                    <tr>
                        <td>asinh(x)</td>
                        <td>Hyperbolic arc sine of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>acosh(x)</td>
                        <td>Hyperbolic arc cosine of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>atanh(x)</td>
                        <td>Hyperbolic arc tangent of x (in radians)</td>
                    </tr>
                    <tr>
                        <td>degrees(x)</td>
                        <td>Convert angle x from radians to degrees.</td>
                    </tr>
                    <tr>
                        <td>radians(x)</td>
                        <td>Convert angle x from degrees to radians.</td>
                    </tr>
                    <tr>
                        <td>sqrt(x)</td>
                        <td>Square root of x. Positive numbers only.</td>
                    </tr>
                    <tr>
                        <td>ln(x)</td>
                        <td>Natural logarithm of x (not base-10).</td>
                    </tr>
                    <tr>
                        <td>log(x)</td>
                        <td>Base-10 logarithm of x.</td>
                    </tr>
                    <tr>
                        <td>abs(x)</td>
                        <td>Absolute value (magnitude) of x</td>
                    </tr>
                    <tr>
                        <td>ceil(x)</td>
                        <td>Ceiling of x — the smallest integer that’s >= x.</td>
                    </tr>
                    <tr>
                        <td>floor(x)</td>
                        <td>Floor of x — the largest integer that’s <= x.</td>
                    </tr>
                    <tr>
                        <td>round(x)</td>
                        <td>X, rounded to the nearest integer</td>
                    </tr>
                    <tr>
                        <td>trunc(x)</td>
                        <td>Integral part of a X, looks like floor(x) unless for negative number.</td>
                    </tr>
                    <tr>
                        <td>exp(x)</td>
                        <td>ex (exponential/antilogarithm function with base e)</td>
                    </tr>
                    <tr>
                        <td>fac(n)</td>
                        <td>factorial of n</td>
                    </tr>
                    
                </table>
            </div>
        </td>
    </tr>
</table>
